<div class="footer">
    <div class="footer-container">
        <div class="nav-col1 columns">

            <h4>About Livefit</h4>
            <ul class="">

                <li><a href="/pages/affiliate-log-in">Affiliates</a></li>

                <li><a href="/collections/e-gift-cards">Gift Card</a></li>

                <li><a href="/pages/student-discount">Student Discount</a></li>

            </ul>


        </div>
        <div class="nav-col2 columns">

            <h4>Help &amp; Support</h4>
            <ul class="">

                <li><a href="/pages/faq">FAQ</a></li>

                <li><a href="/pages/terms-of-service">Terms &amp; Conditions</a></li>

                <li><a href="/pages/contact-us">Contact Us</a></li>

            </ul>

        </div>
        <div class="nav-col3 columns">

            <h4>Our Menu</h4>
            <ul>

                <li><a href="/pages/meal-packages">Meal Packages</a>
                    <ul>

                    </ul>
                </li>

                <li><a href="/pages/menu">Individual Meals</a>
                    <ul>

                        <li>
                            <a href="/collections/breakfast-meals">Breakfast Meals</a>
                        </li>

                        <li>
                            <a href="/collections/lunch-dinner-meals">Lunch &amp; Dinner Meals</a>
                        </li>

                        <li>
                            <a href="/collections/snacks">Snacks, Drinks &amp; More</a>
                        </li>

                        <li>
                            <a href="/collections/build-your-own-meals">Build your own meals</a>
                        </li>

                        <li>
                            <a href="/collections/kids-meals">Kids Meals</a>
                        </li>

                        <li>
                            <a href="/collections/smoothie-bowls-smoothies">Smoothie Bowls &amp; Smoothies</a>
                        </li>

                    </ul>
                </li>

            </ul>

        </div>
        <div class="hide-desk">
            <h4>Livefit App</h4>
            <p><a href="/pages/app"><img
                        src="//cdn.shopify.com/s/files/1/1758/4293/t/88/assets/apple.png?v=16046433425014496461"
                        alt="Apple Store"></a> &nbsp;
                <a href="/pages/app"><img
                        src="//cdn.shopify.com/s/files/1/1758/4293/t/88/assets/android.png?v=5887467790682719125"
                        alt="Android Store"></a></p>
        </div>
    </div>


</div>