<div class="content">
    <p class="h1">No cooking, just eating.</p>
    <div class="content-group">
        <div class="item">
            <img src="/images/Pick_1.gif" alt="pick" />
            <h2>Pick</h2>
            <p>100+ menu of all-natural dishes.</p>
        </div>
        <div class="item">
            <img src="/images/heat.gif" alt="heat" />
            <h2>Heat</h2>
            <p>Cooked & delivered.</p>
        </div>
        <div class="item">
            <img src="/images/eat_1_1.gif" alt="eat" />
            <h2>Eat</h2>
            <p>Delicious & nutritious</p>
        </div>
        <div class="item">
            <img src="/images/repeat---Copy.gif" alt="repeat" />
            <h2>Repeat</h2>
            <p>Skip a week or cancel any time.</p>
        </div>
    </div>
</div>