<div class="grocery">
    <div class="grocery-center">
        <img src="/images/grocery-white.svg" alt="grocery">
        <p>Shop fruits, vegetables, juices, coffee & more from home. No additional fees.
        </p>
        <button>order now</button>
    </div>
</div>