<div id="hero">

    <div id="board-image">
        <img src="/images/plate1.png" class="plate-1" />
        <img src="/images/plate2.png" class="plate-2" />
        <img src="/images/plate3.png" class="plate-3" />
        <img src="/images/plate4.png" class="plate-4" />
        <img src="/images/plate5.png" class="plate-5" />

    </div>
    <div class="board-h">
        <div class="panel">
            <p>Meals and grocery
                delivered.</p>
        </div>
        <div class="board-btns">
            <button class="package"><a href="/meal-packages">View Packages</a></button>
            <button class="build-package">Build Your Order</button>
        </div>
    </div>

</div>