<div class="meal-container">
    <div class="header">
        <p class="meal-header">Our chefs are making these right now!</p>
        <p class="meal-subheader">You could be chowing down on any of these meals any time you choose - seriously!</p>
        <p class="meal-subheader">Order some (or all) of these meals and see why thousands of Canadians stock us in
            their fridge!</p>
    </div>
    <div class="mealpackage">
        <div class="meal">
            <img src="/images/meal-1.png" class="meal-img" / class="meal-title">
            <p class="meal-title">
                Chicken Teriyaki
            </p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-2.png" class="meal-img" />
            <p class="meal-title">Butter Chicken with Mixed Vegetables</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-3.png" class="meal-img" />
            <p class="meal-title">
                Sundried Tomato and Basil Pesto Chicken Linguini
            </p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-4.png" class="meal-img" />
            <p class="meal-title"> Roast Chicken and Homemade Pan Gravy</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-5.png" class="meal-img" />
            <p class="meal-title">Garlic Butter Salmon (Contains Dairy)</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-6.png" class="meal-img" />
            <p class="meal-title">Beef Gratin</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-7.png" class="meal-img" />
            <p class="meal-title">Pan Roast Mushroom Chicken</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-8.png" class="meal-img" />
            <p class="meal-title">Coconut Curry Shrimp</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-9.png" class="meal-img" />
            <p class="meal-title">Keto Cheese Steak</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-10.png" class="meal-img" />
            <p class="meal-title">Buffalo Goat Cheese Chicken (Spicy)</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-11.png" class="meal-img" />
            <p class="meal-title">Keto Slow Roast Beef with Creamed Cabbage</p>
            <span class="meal-price">$11.95</span>
        </div>
        <div class="meal">
            <img src="/images/meal-12.png" class="meal-img" />
            <p class="meal-title">Coconut Curry Salmon</p>
            <span class="meal-price">$11.95</span>
        </div>
    </div>
    <div class="meal-footer">
        <p class="meal-subheader">Mouth watering? We've got more where those came from on our full menu.</p>
        <button class="meal-btn">our full menu</button>
    </div>
</div>