.info {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info .welcome {
  font-size: 30px;
}
.info .email-client {
  font-size: 22px;
}
