.app-container {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.errors {
  width: 50%;
  height: 20%;

  /* position: absolute; */
  /* top: 80px; */
  text-indent: 20px;
  margin-top: 80px;
  /* border: 1px solid blue; */
  align-self: center;
}
.error {
  background-color: #dc3545;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 2px;
}
